

<h1>Escriba un nombre</h1>
<input type="text"[(ngModel)]=" title">
{{title}}
<div *ngIf="title === 'nicolas'"> es un div </div>

<button (click)="addItem()">Add item </button>
<ul>
  <li *ngIf="items.length===0">la lista esta vacia</li>
  <li *ngFor="let name of items;index as i">
    {{name}} {{i}}
    <button (click)="deleteItem(i)">delete</button>

  </li>
</ul>